@using System.Data.Entity;
@using IdentitySample.Models
@using Cecilo.Models
@{
    ViewBag.Title = "Cecilo | Elektronik ve Küçük Ev Aletleri";

    ApplicationDbContext db = new ApplicationDbContext();
}

<div class="header-empty-space"></div>

<div class="content-margins grey">


    <div id="owl-demo" class="owl-carousel">

        @{
            var slider = db.Slider.Where(a => a.IsActive).OrderBy(a => a.Sira);

            if (slider != null)
            {
                foreach (var item in slider)
                {
                    //1581*600
                    <div class="item">
                        <h2>
                            @Html.Raw(item.Aciklama)
                        </h2>
                        <img src="@item.Path" alt="@item.Baslik">
                    </div>

                }
            }
            else
            {

            }
        }
    </div>


    <div class="empty-space col-xs-b35 col-md-b70"></div>

    <div class="container">
        <div class="text-center">
            <div class="simple-article size-3 grey uppercase col-xs-b5">@Resources.Resources.YeniGelenler</div>
            <div class="h2">@Resources.Resources.YeniUrunler</div>
            <div class="title-underline center"><span></span></div>
        </div>
    </div>

    <div class="empty-space col-xs-b35 col-md-b70"></div>

    <div class="container">
        <div class="small-items-line">
            <div class="row nopadding">

                @{
                    var urunler = db.Urun
                        .Include(a => a.Kategori)
                        .Include(a => a.Renkler)
                        .Include(a => a.Markalar)
                        .Include(a => a.Resimler).Where(a => a.IsNew == true);

                     if (Cecilo.CultureHelper.GetCurrentNeutralCulture() == "en")
                    {
                        urunler = db.Urun
                        .Include(a => a.Kategori)
                        .Include(a => a.Renkler)
                        .Include(a => a.Markalar)
                        .Include(a => a.Resimler).Where(a => a.IsNew == true && a.Lang == Cecilo.LanguageId.En);
                    }
                    else if (Cecilo.CultureHelper.GetCurrentNeutralCulture() == "tr")
                    {
                        urunler = db.Urun
                        .Include(a => a.Kategori)
                        .Include(a => a.Renkler)
                        .Include(a => a.Markalar)
                        .Include(a => a.Resimler).Where(a => a.IsNew == true && a.Lang == Cecilo.LanguageId.Tr);
                    }


                    if (urunler != null)
                    {
                        foreach (var item in urunler)
                        {
                            <div class="col-sm-4 col-lg-3">
                                <div class="product-shortcode style-7">
                                    <div class="preview">
                                        @if (item.Resimler != null)
                                        {
                                            <a href="~/p-@item.UrunAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")">
                                                <img src="@item.Resimler.FirstOrDefault().Path" width="200" height="200" alt="@item.AltBaslik" />
                                            </a>

                                        }

                                        @*<div class="preview-buttons valign-middle">
                                                <div class="valign-middle-content">
                                                    <a class="button size-1 style-2" href="#">
                                                        <span class="button-wrapper">
                                                            <span class="icon"><img src="~/Assets/img/icon-1.png" alt=""></span>
                                                            <span class="text">Learn More</span>
                                                        </span>
                                                    </a>
                                                    <a class="button size-1 style-3" href="#">
                                                        <span class="button-wrapper">
                                                            <span class="icon"><img src="~/Assets/img/icon-3.png" alt=""></span>
                                                            <span class="text">Add To Cart</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>*@
                                    </div>
                                    <div class="title">
                                        <div class="simple-article size-1 color col-xs-b10 col-md-b0"><a href="~/c-@item.Kategori.KategoriAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")">@item.Kategori.CategoryTitle</a></div>
                                        <div class="h6 animate-to-green"><a href="~/p-@item.UrunAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")">@item.AltBaslik</a></div>
                                    </div>
                                    @*<div class="price">
                                            <div class="simple-article size-2"><span class="dark">@item.Fiyat</span></div>
                                        </div>*@
                                    <div class="icons">

                                        <a href="~/p-@item.UrunAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")" class="entry"><i class="fa fa-eye" aria-hidden="true"></i></a>

                                    </div>
                                </div>
                            </div>
                        }
                    }

                }


            </div>
        </div>
        <div class="empty-space col-xs-b30"></div>
        <div class="text-center">
            <a class="button size-2 style-3" href="@Url.Action("urunlerimiz","cecilo")">
                <span class="button-wrapper">
                    <span class="icon"><img src="~/Assets/img/icon-4.png" alt="@Resources.Resources.TumUrunlerimiz"></span>
                    <span class="text">@Resources.Resources.TumUrunlerimiz</span>
                </span>
            </a>
        </div>
    </div>

    <div class="empty-space col-xs-b35 col-md-b70"></div>


    <div class="container">
        <div class="text-center">
            <div class="simple-article size-3 grey uppercase col-xs-b5">@Resources.Resources.PopulerUrunler</div>
            <div class="h2">@Resources.Resources.PopulerUrunleriKesfet</div>
            <div class="title-underline center"><span></span></div>
        </div>
    </div>

    <div class="empty-space col-xs-b35 col-md-b70"></div>

    <div class="container">
        <div class="small-items-line">
            <div class="row nopadding">

                @{
                    var urunlerPopuler = db.Urun
                        .Include(a => a.Kategori)
                        .Include(a => a.Renkler)
                        .Include(a => a.Markalar)
                        .Include(a => a.Resimler).Where(a => a.IsPopular == true);

                     if (Cecilo.CultureHelper.GetCurrentNeutralCulture() == "en")
                    {
                        urunlerPopuler = db.Urun
                        .Include(a => a.Kategori)
                        .Include(a => a.Renkler)
                        .Include(a => a.Markalar)
                        .Include(a => a.Resimler).Where(a => a.IsPopular == true && a.Lang == Cecilo.LanguageId.En);
                    }
                    else if (Cecilo.CultureHelper.GetCurrentNeutralCulture() == "tr")
                    {
                        urunlerPopuler = db.Urun
                        .Include(a => a.Kategori)
                        .Include(a => a.Renkler)
                        .Include(a => a.Markalar)
                        .Include(a => a.Resimler).Where(a => a.IsPopular == true && a.Lang == Cecilo.LanguageId.Tr);
                    }

                    if (urunlerPopuler != null)
                    {
                        foreach (var item in urunlerPopuler)
                        {
                            <div class="col-sm-4 col-lg-3">
                                <div class="product-shortcode style-7">
                                    <div class="preview">
                                        @if (item.Resimler != null)
                                        {
                                            <a href="~/p-@item.UrunAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")">
                                                <img src="@item.Resimler.FirstOrDefault().Path" alt="@item.AltBaslik" />
                                            </a>

                                        }

                                        @*<div class="preview-buttons valign-middle">
                                                <div class="valign-middle-content">
                                                    <a class="button size-1 style-2" href="#">
                                                        <span class="button-wrapper">
                                                            <span class="icon"><img src="~/Assets/img/icon-1.png" alt=""></span>
                                                            <span class="text">Learn More</span>
                                                        </span>
                                                    </a>
                                                    <a class="button size-1 style-3" href="#">
                                                        <span class="button-wrapper">
                                                            <span class="icon"><img src="~/Assets/img/icon-3.png" alt=""></span>
                                                            <span class="text">Add To Cart</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>*@
                                    </div>
                                    <div class="title">
                                        <div class="simple-article size-1 color col-xs-b10 col-md-b0"><a href="~/c-@item.Kategori.KategoriAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")">@item.Kategori.CategoryTitle</a></div>
                                        <div class="h6 animate-to-green"><a href="~/p-@item.UrunAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")">@item.AltBaslik</a></div>
                                    </div>
                                    @*<div class="price">
                                            <div class="simple-article size-2"><span class="dark">@item.Fiyat</span></div>
                                        </div>*@
                                    <div class="icons">

                                        <a href="~/p-@item.UrunAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")" class="entry"><i class="fa fa-eye" aria-hidden="true"></i></a>

                                    </div>
                                </div>
                            </div>
                        }
                    }

                }


            </div>
        </div>
        <div class="empty-space col-xs-b30"></div>
        <div class="text-center">
            <a class="button size-2 style-3" href="@Url.Action("urunlerimiz","cecilo")">
                <span class="button-wrapper">
                    <span class="icon"><img src="~/Assets/img/icon-4.png" alt="@Resources.Resources.TumUrunlerimiz"></span>
                    <span class="text">@Resources.Resources.TumUrunlerimiz</span>
                </span>
            </a>
        </div>
    </div>

    <div class="empty-space col-xs-b35 col-md-b70"></div>


    <div class="container">
        <div class="text-center">
            <div class="simple-article size-3 grey uppercase col-xs-b5">@Resources.Resources.OneCikanUrunler</div>
            <div class="h2">@Resources.Resources.ExploreOneCikanUrunler</div>
            <div class="title-underline center"><span></span></div>
        </div>
    </div>

    <div class="empty-space col-xs-b35 col-md-b70"></div>

    <div class="container">
        <div class="small-items-line">
            <div class="row nopadding">

                @{
                    var urunlerIsHome = db.Urun
                        .Include(a => a.Kategori)
                        .Include(a => a.Renkler)
                        .Include(a => a.Markalar)
                        .Include(a => a.Resimler).Where(a => a.IsHome == true);

                    if (Cecilo.CultureHelper.GetCurrentNeutralCulture() == "en")
                    {
                        urunlerIsHome = db.Urun
                        .Include(a => a.Kategori)
                        .Include(a => a.Renkler)
                        .Include(a => a.Markalar)
                        .Include(a => a.Resimler).Where(a => a.IsHome == true && a.Lang == Cecilo.LanguageId.En);
                    }
                    else if (Cecilo.CultureHelper.GetCurrentNeutralCulture() == "tr")
                    {
                        urunlerIsHome = db.Urun
                        .Include(a => a.Kategori)
                        .Include(a => a.Renkler)
                        .Include(a => a.Markalar)
                        .Include(a => a.Resimler).Where(a => a.IsHome == true && a.Lang == Cecilo.LanguageId.Tr);
                    }



                    if (urunlerIsHome != null)
                    {
                        foreach (var item in urunlerIsHome)
                        {
                            <div class="col-sm-4 col-lg-3">
                                <div class="product-shortcode style-7">
                                    <div class="preview">
                                        @if (item.Resimler != null)
                                        {
                                            <a href="~/p-@item.UrunAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")">
                                                <img src="@item.Resimler.FirstOrDefault().Path" alt="@item.AltBaslik" />
                                            </a>

                                        }

                                        @*<div class="preview-buttons valign-middle">
                                                <div class="valign-middle-content">
                                                    <a class="button size-1 style-2" href="#">
                                                        <span class="button-wrapper">
                                                            <span class="icon"><img src="~/Assets/img/icon-1.png" alt=""></span>
                                                            <span class="text">Learn More</span>
                                                        </span>
                                                    </a>
                                                    <a class="button size-1 style-3" href="#">
                                                        <span class="button-wrapper">
                                                            <span class="icon"><img src="~/Assets/img/icon-3.png" alt=""></span>
                                                            <span class="text">Add To Cart</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>*@
                                    </div>
                                    <div class="title">
                                        <div class="simple-article size-1 color col-xs-b10 col-md-b0"><a href="~/c-@item.Kategori.KategoriAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")">@item.Kategori.CategoryTitle</a></div>
                                        <div class="h6 animate-to-green"><a href="~/p-@item.UrunAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")">@item.AltBaslik</a></div>
                                    </div>
                                    @*<div class="price">
                                            <div class="simple-article size-2"><span class="dark">@item.Fiyat</span></div>
                                        </div>*@
                                    <div class="icons">

                                        <a href="~/p-@item.UrunAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")" class="entry"><i class="fa fa-eye" aria-hidden="true"></i></a>

                                    </div>
                                </div>
                            </div>
                        }
                    }

                }


            </div>
        </div>
        <div class="empty-space col-xs-b30"></div>
        <div class="text-center">
            <a class="button size-2 style-3" href="@Url.Action("urunlerimiz","cecilo")">
                <span class="button-wrapper">
                    <span class="icon"><img src="~/Assets/img/icon-4.png" alt="@Resources.Resources.TumUrunlerimiz"></span>
                    <span class="text">@Resources.Resources.TumUrunlerimiz</span>
                </span>
            </a>
        </div>
    </div>

    <div class="empty-space col-xs-b35 col-md-b70"></div>

</div>

@section scripts {
    <script>
        $(document).ready(function () {

            $("#owl-demo").owlCarousel({
                autoPlay: 2000,
                stopOnHover: true,
                navigation: true,
                paginationSpeed: 1000,
                goToFirstSpeed: 2000,
                singleItem: false,
                autoHeight: true,
                transitionStyle: "fade",
                items: 1,
            });

        });
    </script>


}

