@model Cecilo.Models.Belgelerimiz

@{
    ViewBag.Title = "Details";
   Layout = "~/Areas/AbatPanel/Views/Shared/_CeciloPanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Belgelerimiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BelgeAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BelgeAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
