@model Cecilo.Models.HakkimizdaMenu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AbatPanel/Views/Shared/_CeciloPanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HakkimizdaMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MenuAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
